 <ul style="position: relative;">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/content">Content</a></li>
    <li><a href="/admin/members">Members</a></li>
    <li><a href="/admin/project">Projects</a></li>
    <li><a href="/admin/user">New Admin</a></li>
</ul>