 <ul style="position: absolute;">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li style="list-style:none">Create</li>
    <li><a href="/admin/members">New Member</a></li>
    <li><a href="/admin/content">New Content</a></li>
    <li><a href="/admin/project">New Project</a></li>
    <li><a href="/admin/user">New Admin</a></li>
    <li style="list-style:none">Update</li>
    <li><a href="/admin/members/update">Update Member</a></li>
    <li><a href="/admin/content/update">Update Content</a></li>
    <li><a href="/admin/project/update">Update Project</a></li>
</ul>