<div class="topBar container-fluid">
  <div class="row">
    <span id="clubName col-sm-3">
      Vero Beach High School Coding Club - Admin
    </span>
    <span class="top-right">
      <span id="memberLogin" class="topRight col-sm-3">
        <a href="/" class="text-white">Public</a>
      </span>
      <span id="contact" class="topRight col-sm-3">
        <a href="/admin/logout" class="text-white" id="contact">Logout</a>
      </span>
    </span>
  </div>
</div>
