<div class="fE bg-light container-fluid">
  <div class="row">
    <ul class="fList col-md-3">
    <li class="fItem"><a href="https://github.com/VeroBeachHighSchoolCodingClub/Code-Club-s-Home-Website-" target="_blank">Source Code</a></li>
    <li class="fItem"><a href="https://www.indianriverschools.org/vbhs" target="_blank">Vero Beach High School</a></li>
    <li class="fItem">&copy Vero Beach High School Coding Club</li>
    <li class="fItem">1707 16th Street <br> Vero Beach Florida 32960</li>
  </ul>
  
  <div class="col-md-5 f-middle">
    <h2>In order to request a project, please fill out the form.</h1>
    <h3>If you want to contact us regarding something else, please email us at vbhscode@gmail.com</h3>
    <div class="jumbotron">
      <h3 class="text-danger">We're sorry, you cannot request a project at this time, please check back later.</h3>
    </div>
  </div>
  {{!-- <div class="col-md-1"></div> --}}
  <div class="col-md-4 ft-form">
    <h1>Request Form</h1>
    <form action="">
      <div class="form-group text-left">
        <label for="name">Name</label>
        <input disabled type="text" class="form-control" placeholder="Enter Your Name">
      </div>
      <div class="form-group text-left">
        <label for="email">Email</label>
        <input disabled type="text" class="form-control" placeholder="Enter Your Email Address">
      </div>
      <div class="form-group text-left">
        <label for="type">Please select the project type</label>
        <select disabled class="form-control" aria-placeholder="Please select one of these options">
          <option value="">Simple Website Interface</option>
          <option value="">Medium-level Web Application</option>
          <option value="">Complex Web Application</option>
        </select>
      </div>
      <div class="form-group text-left">
        <label for="explanation">Discription</label>
        <textarea disabled name="text-area" cols="30" rows="10" class="form-control" placeholder="Please give a short discription of the website and/or it's functionalities"></textarea>
      </div>
      <button disabled class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  
  </div>
  
</div>
