<footer id="footer">
  <link rel="stylesheet" href="/assets/style.css" type="text/css">
<p>Copyright ©VeroBeachHighSchoolCodingClub</p>
<a href="https://github.com/VeroBeachHighSchoolCodingClub/Code-Club-s-Home-Website-">Our Github</a>
<a href="https://www.indianriverschools.org/vbhs">VBHS website</a>
Open-source site made by Vero Beach High School Coding Club




</footer>
