<div class="fE">
  <ul class="fList" col-sm-12>
    <li class="fItem">&copy Vero Beach High School Coding Club</li>
    <li class="fItem">Source Code</li>
    <li class="fItem">Vero Beach High School</li>
    <li class="fItem">Request Project</li>
  </ul>
</div>
