<div class="fE bg-light">
  <ul class="fList col-sm-12">
    <li class="fItem">&copy Vero Beach High School Coding Club</li>
    <li class="fItem"><a href="https://github.com/VeroBeachHighSchoolCodingClub/Code-Club-s-Home-Website-" target="_blank">Source Code</a></li>
    <li class="fItem"><a href="https://www.indianriverschools.org/vbhs" target="_blank">Vero Beach High School</a></li>
    <li class="fItem"><a href="/email">Request Project</a></li>
  </ul>
</div>
