<nav class="navbar navbar-expand-md navbar-dark" id="navBar">
    <div class="container-fluid row">
        <a class="navbar-brand col-md-2" href="/">
            <img class="logo-slim" src="/pics/logo_slim.png" alt="Our Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-md-12 mr-auto">
                <li class="nav-item col-md-2 text-center" id="navHome">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item col-md-2 text-center" id="navAbout">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item col-md-2 text-center" id="projects">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
            </ul>
        </div>
    </div>
</nav>