<nav class="navBar" id="navBar">
    <div class="navTxt">
        <a class="indNav col-sm-2" id="navHome" href="/">Home</a>
        <a class="indNav col-sm-2" id="navAbout" href="/about">About</a>
        <a class="indNav col-sm-2" id="projects" href="/projects">Projects</a>
    </div>
</nav>
