<nav class="navBar">
    <a class="indNav col-sm-4" id="navHome" href="/">Home</a>
    <a class="indNav col-sm-4" id="navAbout" href="/about">About</a>
    <a class="indNav col-sm-4" id="projects" href="/projects">Projects</a>
</nav>
