<a href="/">
    <img class="logo" id="logo" src="/pics/logo.png" alt="Our Logo">
</a>

<div class="topBar">
  <div id="clubName">
    Vero Beach High School Coding Club - {{location}}
  </div>
  <div id="memberLogin" class="topRight">
    Member Login
  </div>
  <div id="contact" class="topRight">
    Contact Us
  </div>
  
  
</div>
