<div class="topBar">
  <div id="clubName">
    Vero Beach High School Coding Club
  </div>
  <div id="memberLogin" class="topRight">
    Member Login
  </div>
  <div id="contact" class="topRight">
    Contact Us
  </div>
  
  
</div>
