<div class="topBar">
  <div>
    <a href="/">
      <img class="logo" src="/pics/logo.png" alt="Our Logo">
    </a>
  </div>
  <div id="name">Vero Beach High School Coding Club - {{location}} </div>
  <div id="modo">Helping Vero Beach, one line at a time.</div>
</div>
