<div class="topBar">
  <div id="clubName">
    Vero Beach High School Coding Club - {{location}}
  </div>
  <div id="memberLogin" class="topRight">
    member login
  </div>
  <div id="contact" class="topRight">
    contact us
  </div>
  
  
</div>
