<div class="topBar">
  <div>
    <a href="/">
      <img class="logo" src="/pics/logo.png" alt="Our Logo">
    </a>
  </div>
  <div class="">
    <div id="name" class="col-sm-5">Vero Beach High School Coding Club - {{location}} </div>
    <div id="modo" class="col-sm-4">Changing the world, one line at a time.</div>
  </div>
  
</div>
