<div class="topBar container-fluid">
  <div class="row">
    <span id="clubName col-sm-3">
      Vero Beach High School Coding Club
    </span>
    <span class="top-right">
      <span id="memberLogin" class="topRight col-sm-3">
        <a href="/index" class="text-white">Member Login</a>
      </span>
      <span id="contact" class="topRight col-sm-3">
        <a href="#footer" class="text-white" id="contact">Contact Us</a>
      </span>
    </span>
    
  </div>
  
  
  
</div>
