<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}

<div class="container-fluid bg-light big-container">
  <br>
  <div class="container-fluid a-title">
    <div class="ti-grad">
      <h1>About the VBHS Coding Club</h1>
    </div>
  </div>
  <div class="a-over">
    <span class="a-tri col-sm-1">><span id="a-tri-el"></span></span>
    <h1>What is the VBHS Coding Club?</h1>
    <div class="lb" style="width: 35%;"></div>
    <div class="over-cont">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde delectus quasi nostrum ad quisquam nisi autem hic possimus recusandae dolore, suscipit quaerat sed corrupti. Deleniti architecto doloribus amet recusandae fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt corporis in alias, dicta consequuntur necessitatibus iste, adipisci temporibus nemo inventore quae ex voluptates a ratione facilis magnam, laudantium minus. Quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error aliquam dolores debitis ea accusantium, quasi sed doloribus, consectetur, ullam eum! Animi possimus voluptate officiis harum vero atque praesentium mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, placeat et quod nobis deleniti voluptates ratione eveniet quam quis sit consequatur, doloremque sed expedita beatae, veniam eum quasi ab. Velit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ad molestiae consequatur, asperiores reiciendis est necessitatibus expedita earum soluta possimus corrupti voluptas, tempora quam tenetur iusto cumque. Eum, ex pariatur?
    </div>
  </div>
</div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
