<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}

    {{> nav}}


    <div class="col-sm-12 jumbotron pJumbo">
      <h1 id="pTitle">About<h1>
      <h2 id="pSub"class="small">About Us</h2>
    </div>
    <div>

    {{> footer}}
    
    {{> jsConnect}}
  </body>
</html>
