<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}

<div class="container-fluid bg-light big-container">
  <br>
  <div class="container-fluid a-title">
    <div class="ti-grad">
      <h1>About the VBHS Coding Club</h1>
    </div>
  </div>
  <div class="a-over">
    <h1>What is the VBHS Coding Club?</h1>
  </div>
</div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
