<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}

<div class="container-fluid bg-light big-container">
  <br>
  {{> title}}
  <div class="a-over container-fluid">
    <span class="a-tri col-sm-1">><span id="a-tri-el"></span></span>
    <h1>What is the VBHS Coding Club?</h1>
    <div class="lb" style="width: 35%;"></div>
    <div class="over-cont">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde delectus quasi nostrum ad quisquam nisi autem hic possimus recusandae dolore, suscipit quaerat sed corrupti. Deleniti architecto doloribus amet recusandae fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt corporis in alias, dicta consequuntur necessitatibus iste, adipisci temporibus nemo inventore quae ex voluptates a ratione facilis magnam, laudantium minus. Quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error aliquam dolores debitis ea accusantium, quasi sed doloribus, consectetur, ullam eum! Animi possimus voluptate officiis harum vero atque praesentium mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, placeat et quod nobis deleniti voluptates ratione eveniet quam quis sit consequatur, doloremque sed expedita beatae, veniam eum quasi ab. Velit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ad molestiae consequatur, asperiores reiciendis est necessitatibus expedita earum soluta possimus corrupti voluptas, tempora quam tenetur iusto cumque. Eum, ex pariatur?
    </div>
  </div>
  <div class="a-web container-fluid">
    <div class="col-sm-3">
      <img src="/pics/earth.png" alt="a globe">
      <div class="web-caption">wikipedia.com</div>
    </div>
    
    <div class="web-box col-sm-9">
      <h1>Web Development Division</h1>
      <div class="web-cont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, architecto nisi ipsa quibusdam vitae reiciendis modi animi voluptatem doloribus similique molestias soluta repellendus? At, libero quibusdam! Dignissimos a alias culpa?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ipsam laborum ea dolor ut, sint quos in, illo quam voluptatem deserunt quis velit, animi culpa eligendi facere. Maiores, quae quod?</div>
    </div>
  </div>
  <div class="a-hard container-fluid">
    <div class="col-sm-3 hard-pic">
      <img src="/pics/robot.png" alt="a globe">
      <div class="web-caption">pinterest.com</div>
    </div>
    

    <div class="hard-box col-sm-9">
      <h1>Hardware and Robotics Division</h1>
      <div class="hard-cont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, architecto nisi ipsa quibusdam vitae reiciendis modi animi voluptatem doloribus similique molestias soluta repellendus? At, libero quibusdam! Dignissimos a alias culpa?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ipsam laborum ea dolor ut, sint quos in, illo quam voluptatem deserunt quis velit, animi culpa eligendi facere. Maiores, quae quod?</div>
    </div>
  </div>

  <div class="a-mem container-fluid">
    <h1>Coding Club Leadership Team</h1>
    <div class="mem-box col-sm-12">
      <div class="mem-ind col-sm-4">
        <img src="/pics/person.png" alt="" class="mem-pic">
        <h2>John Doe</h2>
        <h3>President</h3>
      </div>
      <div class="mem-ind col-sm-4">
        <img src="/pics/person.png" alt="" class="mem-pic">
        <h2>Jane Doe</h2>
        <h3>Vice-President</h3>
      </div>
      <div class="mem-ind col-sm-4">
        <img src="/pics/person.png" alt="" class="mem-pic">
        <h2>Sam Doe</h2>
        <h3>Officer</h3>
      </div>
      <div class="mem-ind col-sm-4">
        <img src="/pics/person.png" alt="" class="mem-pic">
        <h2>Billy Doe</h2>
        <h3>Janitor</h3>
      </div>
      <div class="mem-ind col-sm-4">
        <img src="/pics/person.png" alt="" class="mem-pic">
        <h2>Zach Doe</h2>
        <h3>Vice-Janitor</h3>
      </div>
      <div class="mem-ind col-sm-4">
        <img src="/pics/person.png" alt="" class="mem-pic">
        <h2>Howard Doe</h2>
        <h3>Sith Lord</h3>
      </div>
    </div>
  </div>

</div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
