<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}

    {{> nav}}


    <header>
   <h1>About Us</h1>
   <p>Insert greatness here </p>
   </header>

    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
