<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}

<br>

  <!-- <div class="container">
    <div class="row">

      <div id="box1" class="col-xs-6 box1 box">
        <div class="boxPic boxE">
          <img src="/pics/python.jpg" alt="Chania" style="width: 10vw">
        </div>
        <div class="boxName boxE">
          John Doe
        </div>
        <div class="boxQuote boxE">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="boxCareer boxE">
          World Class Astronaut
        </div>
      </div>

      <div id="box2" class="col-xs-6 box2 box">
        Person
      </div>

    </div>
  </div> -->
<div class="row">
  <div class="col-xs-6">
    <div id="box1" class="box1 box">
      <div class="boxPic boxE">
        <img src="/pics/python.jpg" alt="Chania" class="boxPic1" >
        <div class="boxName1 boxE">
          John Doe
        </div>
      </div>
      <div class="boxQuote boxE">
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      </div>
      <br>
      <div class="boxCareer boxE" style="">
        <p>Future Career - World Class Astronaut</p>
      </div>
    </div>
  </div>

</div>



    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
