<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}

    <div class="container-fluid bg-light">
    <br>
    
    <h3 class="col-sm-8">In order to request a project, please email us at vbhscode@gmail.com!</h3>
    <div style="padding-bottom: 23vw;"></div>
    </div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
