<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>

    {{> top}}
    {{> nav}}

    <p>Home</p>
  </div>
  
  </body>
  <script type="text/javascript" src="/assets/script.js"></script>
</html>
