<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}
    {{> title}}
  <br>
</div>
  <div class="container-fluid bg-white h-about">
    <div class="au-sm col-sm-4">
      <img class="logo" src="/pics/logo.png" alt="Our Logo">
      <div class="au-time">
        Creating a programming enviornment at VBHS since 2018
      </div>
    </div>
    <div class="au-box col-sm-8">
      <div class="au-title titles">Who are we?</div>
      <div class="au-cont">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat omnis, reprehenderit, molestiae impedit saepe autem recusandae voluptas commodi quasi quae ea ut porro at aperiam praesentium fugiat architecto quis voluptates? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rerum officiis exercitationem. Veniam ipsum magnam porro saepe amet obcaecati. Tenetur, repellendus? Ducimus ratione culpa quam natus asperiores animi recusandae aspernatur.</div>
    </div>
  </div>
  <div class="h-times container-fluid">
    <h1 class="col-sm-12 titles">Metting Times</h1>
    <div class="row">
      <span class="col-sm-6 tim-box" id="tim-right">Lorem   ipsum dolor sit amet consectetur adipisicing     elit.</span>
      <span class="col-sm-6 tim-box">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
    </div>
    
  </div>
  <div class="lead-box container-fluid">
    <h1 class="col-sm-12 titles">Club Leadership</h1>
    <div class="row">
      <div class="lead-p col-sm-6">
        <img src="/pics/person.png" alt="person" class="lead-pic">
        <div class="lead-name">John Doe</div>
        <div class="lead-rank">President</div>
      </div>
      <div class="lead-p col-sm-6">
        <img src="/pics/person.png" alt="person" class="lead-pic">
        <div class="lead-name">Jane Doe</div>
        <div class="lead-rank">Vice-President</div>
      </div>
    </div>
    
  </div>
  
  <div class="h-con col-sm-12">
    <h1 class="con-tri col-sm-2">C:\root></h1>
    <div class="typewrite col-sm-10" data-period="2000" data-type='[ "Welcome to the Vero Beach High School Coding Club", "This is Our Official Website" ]'>
      <span class="wrap"></span>
    </div>
  </div>
 
  <div class="h-mission container-fluid">
    <div class="mis-title titles">What is Our Mission?</div>
    <div class="lb"></div>
    <div class="mis-cont">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione corporis necessitatibus accusantium voluptas illum, delectus vero consequuntur deserunt fugiat repellat pariatur quia expedita natus odio nesciunt enim et culpa labore.</div>
  </div>
  

</div>
    {{> footer}}
    {{> jsConnect}}
  </body>
</html>
