<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}
    <div class="col-sm-12 jumbotron pJumbo">
      <h1 id="pTitle">Completed Club Projects<h1>
      <h2 id="pSub"class="small">The following is a list of completed group projects</h2>
    </div>
    <div>

      <div class="pics1" id="ePics1">
        <img id="ip1" class="" src="/pics/python.jpg" alt="python picture">
        <div id="p1Content" class="clearE">
          <h3 id="p1title" class="iTitle">Python Project 2018</h3>
          <h5 class="iContent">Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit, sed do eiusmod tempor ,br.incididunt <br> ut labore et dolore magna aliqua. Ut </h5>

        </div>
      </div>

    </div>
    {{> jsConnect}}
  </body>
</html>
