<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{> head}}
  <body>
    {{> top}}
    {{> nav}}
    <div class="col-sm-12 jumbotron pJumbo">
      <h1 id="pTitle">Completed Club Projects<h1>
      <h2 id="pSub"class="small">The following is a list of completed group projects</h2>
    </div>
    <div>

      <div class="pics1" id="ePics1">
        <img id="ip1" class="ip1" src="/pics/logo.png" alt="club logo">
        <div id="p1Content" class="clearE">
          <h3 id="p1title" class="iTitle">vbhscode.com 2018</h3>
          <h5 class="iContent">Our home website was our <br>first collaboration project</h5>
          <br>
          <h5 class="iContent"><a href="https://github.com/VeroBeachHighSchoolCodingClub/Code-Club-s-Home-Website-">Source Code</a></h5>
        </div>
      </div>

      <!-- <div class="pics2" id="ePics2">
        <img id="ip2" class="ip2" src="/pics/python.jpg" alt="python picture">
        <div id="p2Content" class="clearE">
          <h3 id="p2title" class="iTitle">Python Project 2019</h3>
          <h5 class="iContent">Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit, <br>sed do eiusmod tempor </h5>
        </div>
      </div>

      <div class="pics1" id="ePics3">
        <img id="ip3" class="ip1" src="/pics/python.jpg" alt="python picture">
        <div id="p3Content" class="clearE">
          <h3 id="p3title" class="iTitle">Python Project 2018</h3>
          <h5 class="iContent">Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit, <br>sed do eiusmod tempor </h5>
        </div>
      </div>

      <div class="pics2" id="ePics4">
        <img id="ip4" class="ip2" src="/pics/python.jpg" alt="python picture">
        <div id="p4Content" class="clearE">
          <h3 id="p2title" class="iTitle">Python Project 2019</h3>
          <h5 class="iContent">Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit, <br>sed do eiusmod tempor </h5>
        </div>
      </div>
    </div> -->

    {{> jsConnect}}
  </body>
</html>
