body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a :visited {
  text-decoration: line-through;
}

/** carousel **/
.picCar {
  margin: 0vw 7vw 0vw 7vw;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 55%;

    margin: auto;
}

/* Top Bar Styles */

.logo{
  width: 10.8vw;
  float: left;
  color: rgb(94, 94, 94);
}

#name {
  font-family: 'Kodchasan', sans-serif;
  position: relative;
  float: left;
  padding: 2vw 2vw 2vw 1vw;
  margin-right: 2vw;
  font-size: 1.8vw;
  color: rgb(94, 94, 94);
}

#modo {
  font-family: 'PT Sans Narrow', sans-serif;
  float: right;
  position: relative;
  padding: 2vw;
  margin-right: 5vw;
  font-size: 1.8vw;
  color: rgb(94, 94, 94);
}


/* nav styles */

.navBar {
  clear: left;
  /* padding: 10px; */
  padding: 0.7vw;
  background-color: rgba(251, 81, 81, 0.9);
  overflow: hidden;
  width: 100%;
  margin-left: 0vw;
  margin-right: -1vw;
  z-index: 99 !important;
}

.indNav {
  display: block;
  color: white;
  float: left;
  font-size: 1.7vw;
  /* padding-right: 8.3vw;
  padding-left: 8.3vw; */
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgba(204, 219, 229, 0.89) !important;
  text-decoration: none !important;
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Home Page */
.mEl {
  background-color: white; 
  margin-top: 2vw; 
  border-radius: 1vw;
  padding: 2vw;
}

.hTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(94, 94, 94);
  margin-top: 2vw;
  font-size: 3vw;
}

.hSub {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(94, 94, 94);
  text-align: center;
}



/* body things */

p {
  clear: left;
}

/* footer */

.fE {
  clear: left;
  margin: 5vw 10vw 0vw 10vw;
  border-top: 0.1vw solid rgba(255, 135, 135, 0.8);
  /* position: absolute; */
}
.fList {
  /* list-style: none; */
  text-align: center;
  margin-left: -4vw;
}
.fList2 {
  list-style: none;
  float: right;
  clear: left;
}
.fItem {
  display: inline-block;
  font-size: 0.8vw;
  padding: 2vw 2vw 1vw 2vw;
  color: rgba(129, 129, 129, 1);
}
/* projects */
.pJumbo {
  padding: 3vw 0vw 3vw 0vw;
  background-color: rgba(239, 161, 161, 0.5) !important;
}
#pTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(112, 122, 127);
  margin-top: 2vw;
  font-size: 3vw;
}

#pSub {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(112, 122, 127);
  text-align: center;
}

.pContact{
  float: left;
  clear: right;
}

.pics {
  background-color: white;
}
  /** Pics 1 **/
    .pics1 {
      border: 1vw solid rgba(181, 181, 181, 1);
      border-radius: 15%;
      margin: 9vw;
      margin-top: 5vw;
      float: left;
      clear: both;
      transition: padding 1s;
    }

    .tps1{
      border: 1vw solid rgba(181, 181, 181, 1);
      border-radius: 15%;
      margin: 9vw;
      margin-top: 5vw;
      float: left;
      clear: left;
      padding: 3vw 1.5vw 3vw 1.5vw;
      display: inline-block;
      position: initial;
      transition: padding 1s;
    }

    .ip1{
      float: left;
      width: 30vw;
      padding: 4vw 2vw 4vw 2vw;
    }

    .tip1{
      float: left;
      width: 13vw;
      padding: 4vw 1vw 4vw 1vw;
    }

    .p1Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: right;
      padding: 0vw 1vw 1vw 1vw ;
      /* text-align: center; */
    }

  /** Pics 2 **/
    .pics2 {
      border: 1vw solid rgba(181, 181, 181, 1);
      border-radius: 15%;
      margin: 9vw;
      margin-top: 5vw;
      float: right;
      clear: right;

    }

    .tps2{
      border: 1vw solid rgba(181, 181, 181, 1);
      border-radius: 15%;
      margin: 9vw;
      margin-top: 5vw;
      float: right;
      clear: right;
      padding: 3vw 1.5vw 3vw 1.5vw;
      display: inline-block;
      transition: padding 1s;

    }

    .ip2 {
      float: right;
      width: 25vw;
      padding: 4vw 2vw 4vw 2vw;

    }
    .tip2{
      float: right;
      width: 10.5vw;
      padding: 4vw 1vw 4vw 1vw;
    }

    .p2Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: left;
      padding: 0vw 1vw 1vw 4vw ;
    }

  /** Global **/
.iTitle {
  font-size: 2vw;
  font-family: 'Quicksand', sans-serif;
}
.iContent {
  font-size: 1.3vw;
  font-family: 'KoHo', sans-serif;
}

.pContent {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(112, 122, 127);
  float: right;
  padding: 0vw 1vw 1vw 4vw ;
  /* text-align: center; */
}


.clearE {
  display: none;
}

/** About Page **/

.MemT {
  text-align: center;
}

.box {
  padding: 1.5vw;
  border: 0.2vw solid rgba(206, 201, 194, 1);
  border-radius: 2vw;
  margin: 3vw 1vw 1vw 3vw;
  background-color: white;
}

  /* box1 */

  .box1 {
    float: left;
    width: 40vw;
  }

  .boxPic1 {
    width: 12vw;
    border: 0.15vw solid rgba(206, 201, 194, 1);
    border-radius: 1vw;
    float: right;
  }

  .boxName1 {
    font-size: 3vw;
    float: left;
    padding: 0.4vw 0vw 0vw 1vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(76, 76, 76);
  }

  .boxSmall1 {
    font-size: 0.9vw; 
    clear: right; 
    position: absolute;
    padding: 0.3vw 0vw 0vw 0.5vw;
    float: left;
  }

  .boxQuote1 {
    padding: 1vw 0vw 0vw 2vw;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1ch;
    font-size: 1vw;
    color: rgb(76, 76, 76);
    float: left;
    clear: right; 
  }

  .boxCareer1 {
    padding: 1vw 1vw 1vw 1.5vw;
    color: rgb(76, 76, 76);
    float: left;
    clear: both; 
  }

  .boxCareerT1 {
    font-size: 1.1vw;
    font-family: 'Sintony', sans-serif;
    float: left;
  }

  .boxCareerE1 {
    font-size: 1.1vw;
    font-family: 'Tajawal', sans-serif;
    float: left;
    position: relative;
    padding: 0vw 0vw 0vw 1vw;
  }

  /* box2 */

  .box2 {
    /* float: right; */
    /* position: relative; */
  }

  .boxPic2 {
    width: 12vw;
    border: 0.15vw solid rgba(206, 201, 194, 1);
    border-radius: 1vw;
    /* float: right;  */
  }
  
  .boxName2 {
    font-size: 3vw;
    float: left;
    padding: 0.4vw 11vw 0vw 1vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(76, 76, 76);
  }
  
  .boxSmall2 {
    font-size: 0.9vw; 
    clear: right; 
    position: absolute;
    padding-top: 0.3vw;
  }
  
  .boxQuote2 {
    padding: 1vw 0vw 0vw 0vw;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 1000; */
    letter-spacing: 0.1ch;
    font-size: 1vw;
    color: rgb(76, 76, 76);
  }
  
  .boxCareer2 {
    padding: 1vw;
    color: rgb(76, 76, 76);
  }
  
  .boxCareerT2 {
    font-size: 1.1vw;
    font-family: 'Sintony', sans-serif;
    float: left;
    /* position: absolute; */
  }
  
  .boxCareerE2 {
    font-size: 1.1vw;
    font-family: 'Tajawal', sans-serif;
    float: left;
    position: relative;
    padding: 0vw 0vw 0vw 1vw;
  }











/* bottom */
