body {
  margin: 0;
  padding: 0;
}

/* Top Bar Styles */

.logo{
  width: 10.8vw;
  float: left;
}

#name {
  font-family: 'Kodchasan', sans-serif;
  position: relative;
  float: left;
  padding: 2vw 2vw 2vw 1vw;
  margin-right: 2vw;
  font-size: 1.8vw;

}

#modo {
  font-family: 'PT Sans Narrow', sans-serif;
  float: right;
  position: relative;
  padding: 2vw;
  margin-right: 5vw;
  font-size: 1.8vw;

}


/* nav styles */

.navBar {
  clear: left;
  /* padding: 10px; */
  padding: 0.7vw;
  background-color: rgba(53, 157, 227, 1);
  overflow: hidden;
  width: 100%;
  margin-left: 0vw;
  margin-right: -1vw;
}

.indNav {
  display: block;
  color: white;
  float: left;
  font-size: 1.7vw;
  /* padding-right: 8.3vw;
  padding-left: 8.3vw; */
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgba(204, 219, 229, 0.89) !important;
  text-decoration: none !important;
}

/* body things */

p {
  clear: left;
}

/* footer */

.footer {
  clear: left;
}

/* projects */
.pJumbo {
  margin-bottom: 100vw;
}
#pTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(112, 122, 127);
  margin-top: 2vw;
}

#pSub {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(112, 122, 127);
  text-align: center;
}
  /** Pics 1 **/
    .pics1 {
      border: 1vw solid rgba(0, 204, 184, 1);
      border-radius: 15%;
      margin: 9vw;
      margin-top: 5vw;
      float: left;
    }

    .tps1{
      border: 1vw solid rgba(0, 204, 184, 1);
      border-radius: 15%;
      margin: 9vw;
      margin-top: 5vw;
      float: left;
      padding: 3vw 1.5vw 3vw 1.5vw;
      display: inline-block;
    }

    .ip1{
      float: left;
      width: 25vw;
      padding: 4vw 2vw 4vw 2vw;
    }

    .tip1{
      float: left;
      width: 10.5vw;
      padding: 4vw 1vw 4vw 1vw;
    }

    .p1Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: right;
      padding: 0vw 1vw 1vw 4vw ;
      /* text-align: center; */
    }

  /** Pics 2 **/
    .pics2 {
      border: 1vw solid rgba(0, 204, 184, 1);
      border-radius: 15%;
      margin: 9vw;
      margin-top: 5vw;
      float: right;
    }

    .tps2{
      border: 1vw solid rgba(0, 204, 184, 1);
      border-radius: 15%;
      margin: 9vw;
      margin-top: 5vw;
      float: right;
      padding: 3vw 1.5vw 3vw 1.5vw;
      display: inline-block;
    }

    .ip2 {
      float: right;
      width: 25vw;
      padding: 4vw 2vw 4vw 2vw;
    }
    .tip2{
      float: right;
      width: 10.5vw;
      padding: 4vw 1vw 4vw 1vw;
    }

    .p2Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: left;
      padding: 0vw 1vw 1vw 4vw ;
    }

  /** Global **/
.iTitle {
  font-size: 1.7vw;
}
.iContent {
  font-size: 1vw;
}

.pContent {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(112, 122, 127);
  float: right;
  padding: 0vw 1vw 1vw 4vw ;
  /* text-align: center; */
}


.clearE {
  display: none;
}

















/* bottom */
