body {
  margin: 0;
  padding: 0;
}

/* Top Bar Styles */

.logo{
  width: 10.8vw;
  float: left;
}
/** carousel **/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#name {
  font-family: 'Kodchasan', sans-serif;
  position: relative;
  float: left;
  padding: 2vw 2vw 2vw 1vw;
  margin-right: 2vw;
  font-size: 1.8vw;

}

#modo {
  font-family: 'PT Sans Narrow', sans-serif;
  float: right;
  position: relative;
  padding: 2vw;
  margin-right: 5vw;
  font-size: 1.8vw;

}


/* nav styles */

.navBar {
  clear: left;
  /* padding: 10px; */
  padding: 0.7vw;
  background-color: rgba(53, 157, 227, 1);
  overflow: hidden;
  width: 100%;
  margin-left: 0vw;
  margin-right: -1vw;
}

.indNav {
  display: block;
  color: white;
  float: left;
  font-size: 1.7vw;
  /* padding-right: 8.3vw;
  padding-left: 8.3vw; */
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgba(204, 219, 229, 0.89) !important;
  text-decoration: none !important;
}

/* body things */

p {
  clear: left;
}

/* footer */

.footer {
  clear: left;
}

/* projects */
.pJumbo {
  margin-bottom: 100vw;
}
#pTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(112, 122, 127);
  margin-top: 2vw;
}

#pSub {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(112, 122, 127);
  text-align: center;
}

/* .pics1 {
    /* width: 420px; */
    /* width: 25vw; */
  /* border: 1vw solid rgba(0, 204, 184, 1);
  border-radius: 15%; */
    /* padding-top: 4vw;
    padding-bottom: 4vw; */
    /* padding: 15vw; */
  /* margin: 12vw;
  margin-top: 5vw;
  float: left; */
    /* padding: inherit; */
    /* padding-right: 6vw; */
/*} */

.pics1 {
  /* width: 420px; */
  width: 25vw;
  border: 1vw solid rgba(0, 204, 184, 1);
  border-radius: 15%;
  /* padding-top: 4vw;
  padding-bottom: 4vw; */
  /* padding: 15vw; */
  margin: 12vw;
  margin-top: 5vw;
  float: left;

}

.pics2 {
  /* width: 420px; */
  width: 25vw;
  border: 1vw solid rgba(0, 204, 184, 1);
  border-radius: 15%;
  /* padding-top: 4vw;
  padding-bottom: 4vw; */
  /* padding: 15vw; */
  margin: 12vw;
  margin-top: 5vw;
  float: left;

}


/* #ip1{
  float: left;
  clear: right;
  width: 25vw;

  padding: 4vw 2vw 4vw 2vw;

} */

#ip1{
  float: left;
  width: 25vw;
  padding: 4vw 2vw 4vw 2vw;
}

#ip2{
  float: left;
  width: 25vw;
  padding: 4vw 2vw 4vw 2vw;
}

.pContent {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(112, 122, 127);
  /* text-align: center; */
  float: left;
  padding: 1vw;
  /* clear: left; */
}

.clearE {
  display: none;
}

















/* bottom */
