body {
  margin: 0;
  padding: 0;
  min-height: 100px;
  height: 100%;
  background-color: #f8f9fa;
}

.big-container {
  min-height: 100% !important;
  height: 100% !important;
  position: relative !important;
  padding-bottom: 100px !important;
  padding: 0 0 100px 0 !important;
}

a {
  text-decoration: none;
}

/** Carousel **/
.car-bg {
  background-image: url("/pics/code-img-white.jpg");
  background-attachment: fixed;
}
.picCar {
  margin: 0px 70px 0px 70px;
  /* height: 500px !important;  */
  width:70% !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    /* width: 55%; */
    margin: auto;
    min-height: 550px;
    max-height: 550px;
}

/** Top Bar Styles **/

.topBar {
  background-color: rgba(251, 81, 81, 1); 
  position: absolute;
  width: 100%;
  z-index: 99;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  /* margin-left: 116px; */
  /* border-radius: 5px 0 0 5px; */
}

#clubName {
  float: left;
  clear: right;
  padding: 12px;
  /* margin-left: 120px; */
}

.topRight {
  /* float: left; */
  position: relative;
}

#contact {
  padding: 12px;
  position: relative;
  float: right;
}

#memberLogin {
  padding: 12px;
  position: relative;
  float: right;
}

/** Nav Bar **/

.mobileNav {
  display: none;
}

.logo-slim {
  position: absolute;
  width: 15%;
  margin: 0 0 0 15px;
  /* background-color: rgba(255, 225, 225, 0.55); */
  border-radius: 15px;
  height: 100%;
}

.navBar {
  clear: left;
  background-color: rgba(255, 169, 169, 0.68);;
  overflow: hidden;
  width: 100%;
  z-index: 99 !important;
  position: absolute;
  margin-top: 44px;
  /* margin-left: 116px; */
  /* border-radius: 5px 0 0 5px; */
}

.navTxt {
  margin-left: 7%;
}

.indNav {
  display: block;
  color: white;
  float: left;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 0px 0 0 13%;
}

a:hover {
  color: rgba(204, 219, 229, 0.89) !important;
  text-decoration: none !important;
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/** Home Page **/

.h-about {
  margin: 0;
  width: 100%;
  padding: 30px;
}

.au-title {
  text-align: left;
  padding-bottom: 30px;
  font-size: 35px;
}
.au-box {
  float: right;
  position: relative;
  width: 70%;
  padding: 50px 0 50px 0;
}

.au-time {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
}

.logo {
  width: 45%;
  color: rgb(94, 94, 94);
  z-index: 100;
  position: relative;
  border-radius: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.au-cont {
  position: relative;
  font-size: 18px;
}

.h-lead {
  position: relative;
  display: block;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  background-color: rgba(251, 81, 81, 1);
  color: white;
}
.lead-box {
  position: relative;
  background-color: white;
  padding: 30px;
}
.lead-p {
  position: relative;
  display: inline-block;
  padding: 15px;
}
.lead-pic {
  position: relative;
  width: 250px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.lead-name {
  position: relative;
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 10px 0 0 0;
}
.lead-rank {
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
}
.h-con {
  position: relative;
  display: block;
  font-size: 30px;
  padding: 10px;
  background-color: #1f1f1f;
  border-top: 5px solid #4e9204;
  border-bottom: 5px solid #4e9204;
  color: #71d800 !important;
}
.con-tri {
  display: inline-block;
  position: absolute;
  /* position: relative; */
  letter-spacing: .15em;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.typewrite {
  display: inline-block;
  margin: 10px 0 10px 180px !important;
  position: relative;
  text-decoration: none;
  color: #71d800 !important;
  letter-spacing: .15em;
}
.h-con a:link a:visited a:hover a:active {
  text-decoration: none;
  color: #71d800;
}

.h-mission {
  position: relative;
  background-color: white;
  padding: 30px 30px 100px 30px;
}
.mis-title {
  position: relative;
  display: block;
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 35px;
}
.lb {
  position: relative;
  border-top: 2px solid #b5b5b5;
  padding-bottom: 10px;
  width: 20%;
  display: block;
  margin: auto;
}
.mis-cont {
  position: relative;
    display: block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    height: 90px;
}



.mEl {
  background-color: white; 
  margin-top: 30px;
  margin-bottom: 2vw; 
  border-radius: 15px;
  padding: 30px;
}

.hTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(94, 94, 94);
  margin-top: 30px;
  font-size: 42px;
}

.hSub {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(94, 94, 94);
  text-align: center;
}

/** Footer **/

.fE {
  margin: 0px 0px 0px 0px;
  border-top: 2px solid rgba(255, 135, 135, 0.8);
  position: absolute;
  text-align: center;
  z-index: 10;
  width: 100%;
}
.fList {
  text-align: center;
}
.fList2 {
  list-style: none;
  float: right;
  clear: left;
}
.fItem {
  display: inline-block;
  font-size: 11px;
  padding: 30px 65px 12px 65px;
  color: rgba(129, 129, 129, 1);
}

/** Projects Page **/

.pics {
  background-color: white;
  
}

.bigBox {
  width: 40%;
  height: 30%;
  margin: 6% 2% 2% 6%; 
  clear: right;
  float: left;
  z-index: 50;
  min-height: 350px;
}

  /* Pics 1 */
    .pics1 {
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: left;
      clear: both;
      height: 350px;
      width: 350px;
      max-width: 350px;
      max-height: 350px;
      padding: auto;
      margin: auto;
      z-index: 2;
    }

    .tps1{
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: left;
      width: 500px;
      height: 250px;
      position: relative;
      transition: width 2s, height 1s;
      clear: both;
      padding: auto;
      margin: auto;
      z-index: 2;
    }

    .ip1{
      float: left;
      border-radius: 25px;
      width: 300px;
      max-width: 300px;
      transition: width 0.5s;
      height: 300px;
      max-height: 300px;
      padding: 5px;
      position: absolute;
      margin: 11px;
    }

    .tip1{
      float: left;
      width: 130px;
      border-radius: 25px;
      max-width: 130px;
      transition: width 0.5s;
      padding: 50px 10px 50px 10px;
      position: absolute;
      z-index: 0;
      background-color: white;
      border-radius: 50px;
    }

    .p1Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: right;
      padding: 0px 10px 10px 10px;
      font-size: 20px;
      background-color: white;
      z-index: 10;
      border-radius: 50px;
    }

  /* Pics 2 */
    .pics2 {
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: right;
      margin: auto;
      height: 350px;
      width: 350px;
      max-width: 350px;
      max-height: 350px;
    }

    .tps2{
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: right;
      width: 500px;
      height: 250px;
      position: initial;
      transition: width 2s, height 1s;
      clear: both;
      padding: auto;
      margin: auto;
      z-index: 50;
    }

    .ip2{
      float: right;
      border-radius: 25px;
      width: 300px;
      max-width: 300px;
      transition: width 0.5s;
      height: 300px;
      max-height: 300px;
      padding: 5px;
      position: absolute;
      margin: 11px;
    }

    .tip2{
      float: right;
      clear: both;
      border-radius: 25px;
      width: 130px;
      max-width: 130px;
      padding: 50px 10px 50px 10px;
      transition: width 0.5s;
      position: relative;
      z-index: 1;
      background-color: white;
      border-radius: 50px;
    }

    .p2Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: left;
      padding: 0px 10px 10px 10px;
      font-size: 20px;
      background-color: white;
      z-index: 0;
      border-radius: 50px;
      position: absolute;
    }

.iTitle {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

.clearE {
  font-size: 0px;
  display: none;
}

/** About Page **/

.a-title {
  position: relative;
  background-image: url("/pics/code-img-white.jpg");
  background-attachment: fixed;
  height: 400px;
  padding: 0 !important;
}
.a-title h1 {
  position: fixed;
  margin-top: 180px;
  z-index: 1;
  color: #ffffff;
  /* background-color: rgba(171, 163, 163, 0.65); */
  display: inline-block;
  padding: 8px;
  border-radius: 10px;
}
.ti-grad {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(4, 4, 4, 0.7), rgba(250, 250, 250, 0.19))
}
.a-tri {
  position: absolute !important;
  margin: 15px 0 0 50px;
  font-size: 50px;
  color: #69af0c;

}
#a-tri-el {
  position: relative;
  border-right: .25em solid #69af0c;
  animation: 
    blink-caret .45s step-end infinite;
    padding: 0 0 0 8px;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #69af0c; }
}
.a-over {
  position: relative;
  z-index: 2;
  background-color: white;
  display: block;
  padding: 25px 0 0 0;
}
.a-over h1 {
  position: relative;
  display: block;
  text-align: center;
  font-size: 40px;
}
.over-cont {
  position: relative;
  display: block;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 30px;
}

.a-web {
  position: relative;
  z-index: 2;
  background-color: white;
  padding-top: 50px;
}
.a-web h1 {
  position: relative;
  display: block;
  text-align: left;
  font-size: 40px;
  border-bottom: 2px solid grey;
  width: 50%;
}
.a-web img {
  position: relative;
  width: 200px;
  margin: 45px;
  display: block;
}
.web-cont {
  position: relative;
  font-size: 20px;
  width: 80%;
  margin-left: 15px;
}
.web-box {
  float: right !important;
}



.box {
  padding: 20px 20px 0px 20px;
  border: 4px solid rgba(206, 201, 194, 1);
  border-radius: 30px;
  margin: 40px 10px 10px 5%;
  background-color: white;
  float: left;
  width: 95%;
  height: 250px;
  position: relative;
}  

.boxPic {
  border: 2px solid rgba(206, 201, 194, 1);
  border-radius: 15px;
  float: right;
  width: 30%;
}

.boxName {
  font-size: 41px;
  float: left;
  padding: 5px 0px 0px 12px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(76, 76, 76);
}

.boxSmall {
  font-size: 12.5px; 
  clear: right; 
  position: absolute;
  padding: 5px 0px 0px 7px;
  float: left;
}

.boxQuote {
  padding: 0px 0px 0px 25px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1ch;
  font-size: 14px;
  color: rgb(76, 76, 76);
  float: left;
  clear: right; 
  margin: 110px 0px 0px 0px;
  display: inline-box;
  position: absolute;
  overflow: hidden;
  width: 63%;
  height: 28%;
}

.boxCareer {
  padding: 14px 14px 0px 20px;
  color: rgb(76, 76, 76);
  float: left;
  clear: both; 
  position: absolute;
  margin-top: 150px;
}

.boxCareerT {
  font-size: 15px;
  font-family: 'Sintony', sans-serif;
  float: left;
}

.boxCareerE {
  font-size: 15px;
  font-family: 'Tajawal', sans-serif;
  float: left;
  position: relative;
  padding: 0px 0px 0px 14px;
}


/** mobile **/

@media screen and (max-width: 575px) {
  .navBar {
    clear: right;
    padding: auto;
    position: relative;
    border-radius: 10px;
    background-color: rgba(251, 81, 81, 0.9);
    width: 45%;
    margin-top: 5%;
  }
  .indNav {
    display: block;
    color: white;
    float: left;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
  }

  #name{
    display: none;
  }

  #logo {
    background-color: #f8f9fa;
    width: 35%;
    display: block;
    float: left;
    margin-left: 5%;
    margin-right: 12%;
  }

} 

@media screen and (max-width: 850px) {

  .bigBox {
    width: 70%;
    height: 60%;
    margin: 6% 0 2% 15%; 
    clear: both;
    float: left;
    z-index: 50;
  }

  .pics1, .pics2 {
    border: 14px solid rgba(181, 181, 181, 1);
    border-radius: 20%;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;
    margin-bottom: 25%;
    position: relative;
  }

  .ip1, .ip2{
    border-radius: 25px;
    width: 100%;
    height: 50%;
    padding: 5%;
    position: static;
    margin: auto;
  }

  .iContent {
    display: none;
  }

  .tps1, .tps2{
    border: 14px solid rgba(181, 181, 181, 1);
    border-radius: 20%;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;
    margin-bottom: 25%;
    position: relative;
  }

  .tip1, .tip2{
    border-radius: 25px;
    width: 100%;
    height: 50%;
    padding: 5%;
    position: static;
    margin: auto;
    float: none;
    clear: none;
    max-width: 100%;
    background-color: none;
    z-index: 0;
  }

  .p1Content, .p2Content {
    display: none;
  }

} 

@media screen and (max-width: 992px) {
  #name {
    background-color: #f8f9fa;
    float: right;
    font-size: 170%;
  }
  #modo {
    display: none;
  }
  .logo{
    width: 30%;
    background-color: #f8f9fa;
    display: block;
    float: left;
    margin-left: 15%;
  }

.mopic{
  width: 100%;
  height: 100%;
  border: 4px solid rgba(206, 201, 194, 1); 
  border-radius: 15px;
}

.momem {
  text-align: center;
  width: 50%;
  height: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  margin: 5% 0 5% 25%;
}

.box{
  display: none;
}

}

@media screen and (min-width: 993px) {

  .momem{
    display: none;
  }

}

@media screen and (min-width: 2700px) {
  .boxPic {
    width: inherit;
  }
  .container-fluid {
    height: 45vw;
  }
}












/*** bottom ***/
