body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

/** Carousel **/
.picCar {
  margin: 0px 70px 0px 70px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 55%;

    margin: auto;
}

/** Top Bar Styles **/

.logo{
  width: 135px;
  float: left;
  color: rgb(94, 94, 94);
}

#name {
  font-family: 'Kodchasan', sans-serif;
  position: relative;
  float: left;
  padding: 29px 30px 30px 20px;
  margin-right: 30px;
  font-size: 22px;
  color: rgb(94, 94, 94);
  
}

#modo {
  font-family: 'PT Sans Narrow', sans-serif;
  float: left;
  position: relative;
  padding: 30px;
  margin-left: 60px;
  font-size: 24px;
  color: rgb(94, 94, 94);
  text-align: center;
}


/** Nav Bar **/

.navBar {
  clear: left;
  padding: 10px;
  background-color: rgba(251, 81, 81, 0.9);
  overflow: hidden;
  width: 100%;
  margin-left: 0px;
  z-index: 99 !important;
}

.indNav {
  display: block;
  color: white;
  float: left;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgba(204, 219, 229, 0.89) !important;
  text-decoration: none !important;
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/** Home Page **/

.mEl {
  background-color: white; 
  margin-top: 30px; 
  border-radius: 15px;
  padding: 30px;
}

.hTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(94, 94, 94);
  margin-top: 30px;
  font-size: 42px;
}

.hSub {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(94, 94, 94);
  text-align: center;
}

/** Footer **/

.fE {
  margin: 0px;
  border-top: 2px solid rgba(255, 135, 135, 0.8);
  position: absolute;
  text-align: center;
  width: 100%
}
.fList {
  text-align: center;
}
.fList2 {
  list-style: none;
  float: right;
  clear: left;
}
.fItem {
  display: inline-block;
  font-size: 11px;
  padding: 30px 65px 12px 65px;
  color: rgba(129, 129, 129, 1);
}

/** Projects Page **/

.pics {
  background-color: white;
  
}

.bigBox {
  max-height: 650px;
  max-width: 650px;
  width: 500px;
  height: 400px;
  margin: 70px 75px 50px 75px;
  /* margin: auto; */
  /* margin: auto; */
  /* position: ; */
  /* display: block; */
  /* overflow: auto;  */
  /* position: absolute; */
  clear: right;
  float: left;
  z-index: 50;
}

  /* Pics 1 */
    .pics1 {
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      /* margin: 70px 80px 80px 80px; */
      float: left;
      clear: both;
      transition: width 2s, height 0.2s;
      /* transition-property: width;
      transition-duration: 5s; */
      height: 350px;
      width: 350px;
      max-width: 350px;
      max-height: 350px;
      padding: auto;
      margin: auto;
      z-index: 2;
      /* margin-bottom: 100px; */
    }

    .tps1{
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      /* margin: 70px 80px 80px 80px; */
      float: left;
      /* padding: 40px 20px 40px 20px; */
      width: 500px;
      height: 250px;
      position: absolute;
      transition: width 2s, height 1s;
      /* transition-property: width;
      transition-duration: 5s; */
      clear: both;
      padding: auto;
      margin: auto;
      /* max-width: 450px;
      max-height: 450px; */
      z-index: 2;
    }

    .ip1{
      float: left;
      width: 300px;
      max-width: 300px;
      transition: width 0.5s;
      height: 300px;
      max-height: 300px;
      padding: 20px 20px 20px 20px;
      z-index: 1;
      position: relative;
    }

    .tip1{
      float: left;
      width: 130px;
      max-width: 130px;
      transition: width 0.5s;
      padding: 50px 10px 50px 10px;
      position: absolute;
      z-index: 0;
      background-color: white;
      border-radius: 50px;
    }

    .p1Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: right;
      padding: 0px 10px 10px 10px;
      font-size: 20px;
      background-color: white;
      z-index: 10;
      border-radius: 50px;
      /* transition: font-size 2s; */
    }

  /* Pics 2 */
    .pics2 {
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      /* margin: 70px 80px 80px 80px; */
      float: right;
      transition: width 2s, height 0.2s;
      padding: auto; 
      margin: auto;
      height: 350px;
      width: 350px;
      max-width: 350px;
      max-height: 350px;
    }

    .tps2{
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      /* margin: 70px 80px 80px 80px; */
      float: right;
      /* padding: 40px 20px 40px 20px; */
      width: 500px;
      height: 250px;
      position: initial;
      transition: width 2s, height 1s;
      /* transition-property: width;
      transition-duration: 5s; */
      clear: both;
      padding: auto;
      margin: auto;
      z-index: 50;
      /* max-width: 450px;
      max-height: 450px; */
      
    }

    .ip2{
      float: right;
      width: 300px;
      max-width: 300px;
      transition: width 0.5s;
      height: 300px;
      max-height: 300px;
      padding: 20px 20px 20px 20px;
    }

    .tip2{
      float: right;
      clear: both;
      width: 130px;
      max-width: 130px;
      padding: 50px 10px 50px 10px;
      transition: width 0.5s;
      /* margin-left: 300px; */
      position: relative;
      z-index: 1;
      background-color: white;
      border-radius: 50px;
    }

    .p2Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: left;
      padding: 0px 10px 10px 10px;
      font-size: 20px;
      background-color: white;
      z-index: 0;
      border-radius: 50px;
      position: absolute;
    }

.iTitle {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}
/* .iContent {
  font-size: 17px;
  font-family: 'KoHo', sans-serif;
} */

.clearE {
  font-size: 0px;
  display: none;
}

/** About Page **/

.box {
  padding: 20px 20px 0px 20px;
  border: 4px solid rgba(206, 201, 194, 1);
  border-radius: 30px;
  margin: 40px 10px 10px 40px;
  background-color: white;
  float: left;
  width: 540px;
  max-width: 540px;
  height: 280px;
  max-height: 280px;
}  

.boxPic {
  width: 160px;
  height: 160px;
  border: 2px solid rgba(206, 201, 194, 1);
  border-radius: 15px;
  float: right;
  display: inline-block;
  max-width: 160px;
  max-height: 160px;
}

.boxName {
  font-size: 41px;
  float: left;
  padding: 5px 0px 0px 12px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(76, 76, 76);
}

.boxSmall {
  font-size: 12.5px; 
  clear: right; 
  position: absolute;
  padding: 5px 0px 0px 7px;
  float: left;
}

.boxQuote {
  padding: 0px 0px 0px 25px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1ch;
  font-size: 14px;
  color: rgb(76, 76, 76);
  float: left;
  clear: right; 
  margin: 110px 0px 0px 0px;
  display: inline-box;
  position: absolute;
  width: 340px;
  max-height: 100px;
}

.boxCareer {
  padding: 14px 14px 0px 20px;
  color: rgb(76, 76, 76);
  float: left;
  clear: both; 
}

.boxCareerT {
  font-size: 15px;
  font-family: 'Sintony', sans-serif;
  float: left;
}

.boxCareerE {
  font-size: 15px;
  font-family: 'Tajawal', sans-serif;
  float: left;
  position: relative;
  padding: 0px 0px 0px 14px;
}











/*** bottom ***/
