body {
  margin: 0;
  padding: 0;
  min-height: 100px;
  height: 100%;
  background-color: #f8f9fa;
  max-width: 100% !important;
}

.big-container {
  min-height: 100% !important;
  height: 100% !important;
  position: relative !important;
  padding: 0 0 0 0 !important;
}

img {
  transition: width 0.7s;
}

a {
  text-decoration: none;
}

.titles {
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
}

.admin-form {
  width: 55%;
}

/** Carousel **/
.car-bg {
  background-image: url("/pics/code-img-white.jpg");
  background-attachment: fixed;
}
.picCar {
  margin: 0px 70px 0px 70px;
  /* height: 500px !important;  */
  width:70% !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    /* width: 55%; */
    margin: auto;
    min-height: 550px;
    max-height: 550px;
}

/** Top Bar Styles **/

.topBar {
  background-color: rgba(251, 81, 81, 1); 
  position: relative;
  width: 100%;
  z-index: 1;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  max-width: 100% !important;
}
.topBar .row {
  padding: 10px;
}
.topBar .row .col-md-2 {
  float: right;
}
.top-right {
  position: relative;
  margin-left: auto;
}

/** Nav Bar **/

.mobileNav {
  display: none;
}

.logo-slim {
  width: 100%;
  border-radius: 15px;
}

.navBar {
  clear: left;
  background-color: rgba(74, 62, 62, 0.83);
  overflow: hidden;
  width: 100%;
  z-index: 10 !important;
  position: absolute;
  margin-top: 44px;
  transition: background-color 1s;
  position: absolute !important;
  max-width: 100% !important;
  /* margin-left: 116px; */
  /* border-radius: 5px 0 0 5px; */
}

.navTxt {
  margin-left: 7%;
}

.indNav {
  display: block;
  color: white;
  float: left;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 0px 0 0 13%;
  font-family: 'Oxygen', sans-serif;
  transition: color 1s;
}
.indNav a {
  color: white;
}
.nav-link {
  font-size: 20px;
  color: #f1f1f1 !important;
  transition: color 1s;
}

.navbar {
  /* margin-top: 40px; */
  /* position: absolute !important; */
  z-index: 10;
  width: 100%;
  background-color: rgba(74, 62, 62, 0.83);
  transition: background-color 1s;
}

.stickyInd {
  color: #717171 !important;
  transition: color 1s;
}

a:hover {
  color: rgba(204, 219, 229, 0.89) !important;
  text-decoration: none !important;
}

.stickyNav {
  position: fixed !important;
  top: 0;
  width: 100%;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.83);
  transition: background-color 1s;
}

/* .sticky + .content {
  padding-top: 60px;
} */

/** Home Page **/

.h-about {
  margin: 0;
  width: 100%;
  padding: 30px;
  padding-right: 0 !important;
}

.au-title {
  text-align: left;
  padding-bottom: 30px;
}
.au-box {
  float: right;
  position: relative;
  width: 70%;
  padding: 50px 0 50px 0;
}

.au-time {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.logo {
  width: 220px !important;
  /* color: rgb(94, 94, 94); */
  z-index: 0;
  position: relative;
  border-radius: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.logo:hover {
  width: 225px !important;
}
.au-cont {
  position: relative;
  font-size: 18px;
}
.au-sm {
  display: inline-block;
}

.h-times {
  position: relative;
  display: block;
  text-align: center;
  padding: 35px;
  background-color: rgba(251, 81, 81, 1);
  color: white;
  /* height: 160px; */
  margin: 25px 0;
}
.h-times h1 {
  display: inline-block;
  margin: 0 auto;
  padding: 0 0 15px 0;
}
.tim-box {
  font-size: 20px;
}
#tim-right {
  border-right: 2px solid white;
}
.lead-box {
  position: relative;
  background-color: white;
  padding: 30px;
}
.lead-box h1 {
  position: relative;
  text-align: center;
}
.lead-p {
  position: relative;
  display: inline-block;
  padding: 15px;
}
.lead-pic {
  position: relative;
  width: 250px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.lead-pic:hover {
  width: 255px;
}
.lead-name {
  position: relative;
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 10px 0 0 0;
  font-family: 'Poppins', sans-serif;
}
.lead-rank {
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.h-con {
  position: relative;
  display: block;
  /* font-size: 30px; */
  padding: 1% 0 !important;
  /* background-color: #1f1f1f; */
  background-color: white;
  border-top: 5px solid #4e9204;
  border-bottom: 5px solid #4e9204;
  color: #71d800 !important;
  font-family: 'Roboto Mono', monospace;
  overflow: auto;
  /* margin-top: 40px; */
}
.con-tri {
  display: inline;
  letter-spacing: .1em;
  margin: 10px 1px 10px 0 !important;
  padding-left: 0 !important;
  padding-right: 0px !important;
  font-size: 2.5vw;
}
.typewrite {
  display: inline;
  position: relative;
  text-decoration: none;
  color: #71d800 !important;
  letter-spacing: .1em;
  padding: 0 !important;
  font-size: 2vw;
}
.h-con a:link a:visited a:hover a:active {
  text-decoration: none;
  color: #71d800;
}

.h-mission {
  position: relative;
  background-color: white;
  padding: 30px 30px 100px 30px;
}
.mis-title {
  position: relative;
  display: block;
  text-align: center;
  padding: 50px 0 0 0;
}
.lb {
  position: relative;
  border-top: 2px solid #b5b5b5;
  padding-bottom: 10px;
  width: 20%;
  display: block;
  margin: auto;
}
.mis-cont {
  position: relative;
  display: block;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
}



.mEl {
  background-color: white; 
  margin-top: 30px;
  margin-bottom: 2vw; 
  border-radius: 15px;
  padding: 30px;
}

.hTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(94, 94, 94);
  margin-top: 30px;
  font-size: 42px;
}

.hSub {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(94, 94, 94);
  text-align: center;
}

/** Footer **/

.fE {
  margin: 0px 0px 0px 0px;
  border-top: 2px solid rgba(255, 135, 135, 0.8);
  position: absolute;
  text-align: center;
  z-index: 0;
  padding: 20px 0;
}
.fList {
  text-align: center;
}
.fItem {
  display: inline-block;
  font-size: 12px;
  padding: 100px 65px 12px 65px;
  color: rgba(129, 129, 129, 1);
}
.f-middle {
  margin: 10% 0 0 0;
}
.f-middle h2 {
  position: relative;
  font-size: 30px;
}
.f-middle h3 {
  position: relative;
  font-size: 20px;
  padding-top: 20px;
}
.ft-form {
  padding-top: 40px;
}
.ft-form h1 {
  font-size: 25px;
}

/** Projects Page **/

.p-intro {
  position: relative;
  z-index: 2;
  background-color: white;
  padding-top: 25px;
}
.p-intro h1 {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}
.int-cont {
  position: relative;
  display: block;
  text-align: center;
  width: 80%;
  margin: 15px auto;
  font-size: 20px; 
}

.pics {
  background-color: white;
}
.bigBox {
  width: 40%;
  height: 30%;
  margin: 6% 2% 2% 6%; 
  clear: right;
  float: left;
  z-index: 2;
  min-height: 350px;
}
.box-container {
  background-color: white;
  z-index: 1;
  margin: 0 !important;
  padding-bottom: 70px;
}
.p-title {
  position: relative;
  display: block;
  z-index: 2;
  background-color: white;
  margin: 0;
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 40px;
}

  /* Pics 1 */
    .pics1 {
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: left;
      clear: both;
      height: 350px;
      width: 350px;
      max-width: 350px;
      max-height: 350px;
      padding: auto;
      margin: auto;
      z-index: 2;
    }

    .tps1{
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: left;
      width: 500px;
      height: 250px;
      position: relative;
      transition: width 2s, height 1s;
      clear: both;
      padding: auto;
      margin: auto;
      z-index: 2;
    }

    .ip1{
      float: left;
      border-radius: 25px;
      width: 300px;
      max-width: 300px;
      transition: width 0.5s;
      height: 300px;
      max-height: 300px;
      padding: 5px;
      position: absolute;
      margin: 11px;
    }

    .tip1{
      float: left;
      width: 130px;
      border-radius: 25px;
      max-width: 130px;
      transition: width 0.5s;
      padding: 50px 10px 50px 10px;
      position: absolute;
      z-index: 2;
      background-color: white;
      border-radius: 50px;
    }

    .p1Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: right;
      padding: 0px 10px 10px 10px;
      font-size: 20px;
      background-color: white;
      z-index: 1;
      border-radius: 50px;
      padding: 10px;
      max-width: 300px;
      max-height: 200px;
    }

  /* Pics 2 */
    .pics2 {
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: right;
      margin: auto;
      height: 350px;
      width: 350px;
      max-width: 350px;
      max-height: 350px;
    }

    .tps2{
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: right;
      width: 500px;
      height: 250px;
      position: initial;
      transition: width 2s, height 1s;
      clear: both;
      padding: auto;
      margin: auto;
      z-index: 2;
    }

    .ip2{
      float: right;
      border-radius: 25px;
      width: 300px;
      max-width: 300px;
      transition: width 0.5s;
      height: 300px;
      max-height: 300px;
      padding: 5px;
      position: absolute;
      margin: 11px;
    }

    .tip2{
      float: right;
      clear: both;
      border-radius: 25px;
      width: 130px;
      max-width: 130px;
      padding: 50px 10px 50px 10px;
      transition: width 0.5s;
      position: relative;
      z-index: 2;
      background-color: white;
      border-radius: 50px;
    }

    .p2Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: left;
      padding: 0px 10px 10px 10px;
      font-size: 20px;
      background-color: white;
      z-index: 1;
      border-radius: 50px;
      position: absolute;
      padding: 10px;
      max-width: 300px;
      max-height: 200px;
    }

.iTitle {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

.clearE {
  font-size: 0px;
  display: none;
}

/** About Page **/

.a-title {
  position: relative;
  background-image: url(/pics/code-img-white.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 425px;
  background-repeat: no-repeat;
  padding: 0 !important;
  /* margin-top: -88px; */
  margin-top: -10%;
}
.a-title h1 {
  position: absolute;
  margin-top: 16%;
  z-index: 1;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
  font-size: 37px;
  font-family: 'Muli', sans-serif;
  border-radius: 10px;
}
.ti-grad {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(4, 4, 4, 0.7), rgba(250, 250, 250, 0.19))
}
.a-tri {
  position: absolute !important;
  margin: 15px 0 0 50px;
  font-size: 50px;
  color: #69af0c;

}
#a-tri-el {
  position: relative;
  border-right: .25em solid #69af0c;
  animation: 
    blink-caret .45s step-end infinite;
    padding: 0 0 0 8px;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #69af0c; }
}
.a-over {
  position: relative;
  z-index: 2;
  background-color: white;
  display: block;
  padding: 25px 0 0 0;

}
.a-over h1 {
  position: relative;
  display: block;
  text-align: center;
}
.over-cont {
  position: relative;
  display: block;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 30px;
}

.a-divs {
  position: relative;
  background-color: #636363;
  color: white;
  padding: 20px;
  margin: 40px 0 0 0
}
.a-divs h1 {
  position: relative;
  display: block;
  text-align: center;
  font-size: 40px;
}
.div-box {
  /* height: 167px; */
  text-align: center;
}
.div-box h2 {
  position: relative;
}
.div-box p {
  position: relative;
  padding-top: 15px; 
}
#left-box {
  border-right: 2px solid white;
}

.a-mem {
  position: relative;
  z-index: 2;
  /* background-color: white; */
  background-image: url("/pics/club-pic.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 !important;
}
.a-glaze {
  position: relative;
  background-color: rgba(250, 250, 250, 0.85);
}
.a-mem h1 {
  position: relative;
  display: block;
  text-align: center;
  padding: 50px 20px 20px 20px;
}
.mem-box {
  display: block;
}
.mem-ind {
  padding: 20px;
  max-height: 350px;
  height: 350px;
}
.mem-ind img {
  position: relative;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.mem-ind img:hover {
  width: 205px;
}
.mem-ind h2 {
  position: relative;
  display: block;
  text-align: center;
  margin: 8px 0 0 0;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}
.mem-ind h3 {
  position: relative;
  display: block;
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}


/** mobile **/

@media screen and (max-width: 850px) {

} 

@media screen and (min-width: 1500px) {
  .boxPic {
    width: inherit;
  }
  /* .container-fluid {
    height: 45vw;
  } */
  .a-title {
    height: 580px;
  }
}

@media screen and (max-width: 1200px) {
  /* xl */

  .bigBox {
    width: 70%;
    height: 60%;
    margin: 6% 0 2% 15%; 
    clear: both;
    float: left;
    z-index: 2;
  }

  .pics1, .pics2 {
    border: 14px solid rgba(181, 181, 181, 1);
    border-radius: 20%;
    clear: both;
    float: none;
    width: 100%;
    overflow: auto;
    height: 100%;
    margin-bottom: 25%;
    position: relative;
  }

  .ip1, .ip2{
    border-radius: 25px;
    width: 100%;
    height: 50%;
    padding: 5%;
    position: static;
    float: none;
    margin: 0 auto;
  }

  .iContent {
    padding: 5px;
  }

  .tps1, .tps2{
    border: 14px solid rgba(181, 181, 181, 1);
    border-radius: 50px;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 25%;
    position: relative;
  }

  .tip1, .tip2{
    width: 100%;
    height: 50%;
    padding: 5%;
    position: static;
    margin: auto;
    float: none;
    clear: none;
    max-width: 100%;
    z-index: 0;
  }

  .p1Content, .p2Content {
    text-align: center;
    position: relative;
    float: none;
    max-height: 500px;
  }
}

@media screen and (max-width: 768px) {
  /* md */

  .a-title {
    margin-top: -310px;
    height: 600px;
  }
  .a-title h1 {
    margin-top: 385px;
  }
  .logo-slim {
    margin: 0 auto;
    display: block;
    width: 35%;
  }
  .au-title {
    text-align: center;
  }
  .au-cont {
    text-align: center;
  }
  .a-divs h1 {
    padding-bottom: 30px;
  }
  #left-box {
    border-right: none;
  }

  
}
@media screen and (max-width: 576px) {
  /* sm */

  .top-right {
    margin-left: 0;
  }
  .logo-slim {
    width: 65%;
  }
  #tim-right {
    border-right: none;
    border-bottom: 2px solid white;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
}











/*** bottom ***/
