body {
  margin: 0;
  padding: 0;
  min-height: 100px;
  height: 100%;
  background-color: #f8f9fa;
}

.big-container {
  min-height: 100% !important;
  height: 100% !important;
  position: relative !important;
  padding-bottom: 100px !important;
}

a {
  text-decoration: none;
}

/** Carousel **/
.picCar {
  margin: 0px 70px 0px 70px;
  /* height: 500px !important;  */
  width:70% !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    /* width: 55%; */
    margin: auto;
    min-height: 550px;
    max-height: 550px;
}

/** Top Bar Styles **/

.topBar {
  background-color: rgba(251, 81, 81, 1); 
  position: absolute;
  width: 100%;
  z-index: 99;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  /* margin-left: 116px; */
  /* border-radius: 5px 0 0 5px; */
}

#clubName {
  float: left;
  clear: right;
  padding: 12px;
  /* margin-left: 120px; */
}

.topRight {
  /* float: left; */
  position: relative;
}

#contact {
  padding: 12px;
  position: relative;
  float: right;
}

#memberLogin {
  padding: 12px;
  position: relative;
  float: right;
}

/** Nav Bar **/

.mobileNav {
  display: none;
}

.navBar {
  clear: left;
  background-color: rgba(251, 81, 81, 0.3);
  overflow: hidden;
  width: 100%;
  z-index: 99 !important;
  position: absolute;
  margin-top: 44px;
  /* margin-left: 116px; */
  /* border-radius: 5px 0 0 5px; */
}

.navTxt {
  margin-left: 5%;
}

.indNav {
  display: block;
  color: white;
  float: left;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 0px 0 0 11%;
}

a:hover {
  color: rgba(204, 219, 229, 0.89) !important;
  text-decoration: none !important;
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/** Home Page **/

.h-about {
  margin: 30px 0 2vw 0;
  width: 100%;
  /* padding: 50px; */
}

.au-title {
  text-align: left;
  padding-bottom: 30px;
  font-size: 35px;
}

.au-box {
  float: right;
  position: relative;
  width: 70%;
  padding: 50px 0 50px 0;
}

.au-time {
  position: relative;
  margin: 170px 0 0 25px;
  display: inline-block;
}

.logo {
  width: 20%;
  float: left;
  color: rgb(94, 94, 94);
  position: absolute;
  z-index: 100;
  /* background-color: white; */
  border-radius: 15%;
  padding: 0 0 0 100px;
}



.mEl {
  background-color: white; 
  margin-top: 30px;
  margin-bottom: 2vw; 
  border-radius: 15px;
  padding: 30px;
}

.hTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgb(94, 94, 94);
  margin-top: 30px;
  font-size: 42px;
}

.hSub {
  font-family: 'Hind Madurai', sans-serif;
  color: rgb(94, 94, 94);
  text-align: center;
}

/** Footer **/

.fE {
  margin: 0px 0px 0px 0px;
  border-top: 2px solid rgba(255, 135, 135, 0.8);
  position: absolute;
  text-align: center;
  z-index: 10;
  width: 100%;
}
.fList {
  text-align: center;
}
.fList2 {
  list-style: none;
  float: right;
  clear: left;
}
.fItem {
  display: inline-block;
  font-size: 11px;
  padding: 30px 65px 12px 65px;
  color: rgba(129, 129, 129, 1);
}

/** Projects Page **/

.pics {
  background-color: white;
  
}

.bigBox {
  width: 40%;
  height: 30%;
  margin: 6% 2% 2% 6%; 
  clear: right;
  float: left;
  z-index: 50;
  min-height: 350px;
}

  /* Pics 1 */
    .pics1 {
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: left;
      clear: both;
      height: 350px;
      width: 350px;
      max-width: 350px;
      max-height: 350px;
      padding: auto;
      margin: auto;
      z-index: 2;
    }

    .tps1{
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: left;
      width: 500px;
      height: 250px;
      position: relative;
      transition: width 2s, height 1s;
      clear: both;
      padding: auto;
      margin: auto;
      z-index: 2;
    }

    .ip1{
      float: left;
      border-radius: 25px;
      width: 300px;
      max-width: 300px;
      transition: width 0.5s;
      height: 300px;
      max-height: 300px;
      padding: 5px;
      position: absolute;
      margin: 11px;
    }

    .tip1{
      float: left;
      width: 130px;
      border-radius: 25px;
      max-width: 130px;
      transition: width 0.5s;
      padding: 50px 10px 50px 10px;
      position: absolute;
      z-index: 0;
      background-color: white;
      border-radius: 50px;
    }

    .p1Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: right;
      padding: 0px 10px 10px 10px;
      font-size: 20px;
      background-color: white;
      z-index: 10;
      border-radius: 50px;
    }

  /* Pics 2 */
    .pics2 {
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: right;
      margin: auto;
      height: 350px;
      width: 350px;
      max-width: 350px;
      max-height: 350px;
    }

    .tps2{
      border: 14px solid rgba(181, 181, 181, 1);
      border-radius: 50px;
      float: right;
      width: 500px;
      height: 250px;
      position: initial;
      transition: width 2s, height 1s;
      clear: both;
      padding: auto;
      margin: auto;
      z-index: 50;
    }

    .ip2{
      float: right;
      border-radius: 25px;
      width: 300px;
      max-width: 300px;
      transition: width 0.5s;
      height: 300px;
      max-height: 300px;
      padding: 5px;
      position: absolute;
      margin: 11px;
    }

    .tip2{
      float: right;
      clear: both;
      border-radius: 25px;
      width: 130px;
      max-width: 130px;
      padding: 50px 10px 50px 10px;
      transition: width 0.5s;
      position: relative;
      z-index: 1;
      background-color: white;
      border-radius: 50px;
    }

    .p2Content {
      font-family: 'Hind Madurai', sans-serif;
      color: rgb(112, 122, 127);
      float: left;
      padding: 0px 10px 10px 10px;
      font-size: 20px;
      background-color: white;
      z-index: 0;
      border-radius: 50px;
      position: absolute;
    }

.iTitle {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

.clearE {
  font-size: 0px;
  display: none;
}

/** About Page **/

.box {
  padding: 20px 20px 0px 20px;
  border: 4px solid rgba(206, 201, 194, 1);
  border-radius: 30px;
  margin: 40px 10px 10px 5%;
  background-color: white;
  float: left;
  width: 95%;
  height: 250px;
  position: relative;
}  

.boxPic {
  border: 2px solid rgba(206, 201, 194, 1);
  border-radius: 15px;
  float: right;
  width: 30%;
}

.boxName {
  font-size: 41px;
  float: left;
  padding: 5px 0px 0px 12px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(76, 76, 76);
}

.boxSmall {
  font-size: 12.5px; 
  clear: right; 
  position: absolute;
  padding: 5px 0px 0px 7px;
  float: left;
}

.boxQuote {
  padding: 0px 0px 0px 25px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1ch;
  font-size: 14px;
  color: rgb(76, 76, 76);
  float: left;
  clear: right; 
  margin: 110px 0px 0px 0px;
  display: inline-box;
  position: absolute;
  overflow: hidden;
  width: 63%;
  height: 28%;
}

.boxCareer {
  padding: 14px 14px 0px 20px;
  color: rgb(76, 76, 76);
  float: left;
  clear: both; 
  position: absolute;
  margin-top: 150px;
}

.boxCareerT {
  font-size: 15px;
  font-family: 'Sintony', sans-serif;
  float: left;
}

.boxCareerE {
  font-size: 15px;
  font-family: 'Tajawal', sans-serif;
  float: left;
  position: relative;
  padding: 0px 0px 0px 14px;
}


/** mobile **/

@media screen and (max-width: 575px) {
  .navBar {
    clear: right;
    padding: auto;
    position: relative;
    border-radius: 10px;
    background-color: rgba(251, 81, 81, 0.9);
    width: 45%;
    margin-top: 5%;
  }
  .indNav {
    display: block;
    color: white;
    float: left;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
  }

  .picCar {
    display: none;
  }

  #name{
    display: none;
  }

  #logo {
    background-color: #f8f9fa;
    width: 35%;
    display: block;
    float: left;
    margin-left: 5%;
    margin-right: 12%;
  }

} 

@media screen and (max-width: 850px) {

  .bigBox {
    width: 70%;
    height: 60%;
    margin: 6% 0 2% 15%; 
    clear: both;
    float: left;
    z-index: 50;
  }

  .pics1, .pics2 {
    border: 14px solid rgba(181, 181, 181, 1);
    border-radius: 20%;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;
    margin-bottom: 25%;
    position: relative;
  }

  .ip1, .ip2{
    border-radius: 25px;
    width: 100%;
    height: 50%;
    padding: 5%;
    position: static;
    margin: auto;
  }

  .iContent {
    display: none;
  }

  .tps1, .tps2{
    border: 14px solid rgba(181, 181, 181, 1);
    border-radius: 20%;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;
    margin-bottom: 25%;
    position: relative;
  }

  .tip1, .tip2{
    border-radius: 25px;
    width: 100%;
    height: 50%;
    padding: 5%;
    position: static;
    margin: auto;
    float: none;
    clear: none;
    max-width: 100%;
    background-color: none;
    z-index: 0;
  }

  .p1Content, .p2Content {
    display: none;
  }

} 

@media screen and (max-width: 992px) {
  #name {
    background-color: #f8f9fa;
    float: right;
    font-size: 170%;
  }
  #modo {
    display: none;
  }
  .logo{
    width: 30%;
    background-color: #f8f9fa;
    display: block;
    float: left;
    margin-left: 15%;
  }

.mopic{
  width: 100%;
  height: 100%;
  border: 4px solid rgba(206, 201, 194, 1); 
  border-radius: 15px;
}

.momem {
  text-align: center;
  width: 50%;
  height: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  margin: 5% 0 5% 25%;
}

.box{
  display: none;
}

}

@media screen and (min-width: 993px) {

  .momem{
    display: none;
  }

}

@media screen and (min-width: 2700px) {
  .boxPic {
    width: inherit;
  }
  .container-fluid {
    height: 45vw;
  }
}












/*** bottom ***/
